[submodule "hezzle/third-party/spdlog"]
	path = hezzle/third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "hezzle/third-party/GLFW"]
	path = hezzle/third-party/GLFW
	url = https://github.com/TheCherno/glfw
